<!DOCTYPE html>
<html>
<head>
  <title>The Artwork of Amy Eichler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="complete-header">
		<div id="left-header">
			<div id="left-header-social">
				<ul class="inline-navigation">
					<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></li>
					<li class="fb-like" data-href="http://www.aeselsor.com" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark" data-font="trebuchet ms">Facebook</li>
					<li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.aeselsor.com&media=http%3A%2F%2Fwww.aeselsor.com&description=Check%20out%20this%20awesome%20artwork%20that%20Amy%20has%20been%20developing!%20...%20FYI%20this%20is%20a%20test!" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></li>
				</ul>
			</div>
			<div id="left-header-navbar">
				<ul class="inline-navigation">
					<li><a href="/main_pages/home">Home</a></li>
					<li><a href="/main_pages/bio">Bio</a></li>
					<li><a href="/main_pages/art">Art</a></li>
					<li><a href="/main_pages/awards">Awards</a></li>
					<li><a href="/main_pages/contacts">Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="right-header">
			<%=image_tag('eichler_logo.png')%>
		</div>
	</div>

<%= yield %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>